<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New post, dude!</h1>

    <br>
    post_id: <%= @post.id %>
    <br>
    content: <%= @post.description %>
    <br>
    <p>Thanks for attention, dude!</p>
  </body>
</html>