%h1 New comment
- if @comment.errors.any?
  .alert.alert-danger#error_explanation
    -#%h3= "#{pluralize(object.errors.count, "ошибки")} при заполнении формы:"
    %h3= "Ошибки при заполнении формы:"
    %ul
      - @comment.errors.messages.each do |amsg|
        - amsg[1].each do |msg|
          %li= msg


= render 'form'


