.center.hero-unit
  %h1 Blog Web Application
  %p Если Вы хотите оставить свое сообщение, то должны #{link_to "зарегистрироваться",  new_user_registration_path} или #{link_to "войти", new_user_session_path} 
  %p 
